<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pandemic Escape</title>
    </head>
    <body>
        <h1>Welcome to the Pandemic Escape Room!</h1>
        <p>You have been infected with an unknown virus by a mad scientist! The vaccine is in here somewhere...</p>
        Notes:<br/>
        1. Please maximize your web browser.<br/>
        2. Please avoid the back button - It won't break the game, but it results in strange behavior.<br/>
        3. You may use the Internet.<br/>
        4. Outside knowledge is not required, but may be helpful.<br/>
        5. You do not need to inspect the source code, and it will not be helpful.<br/>
        6. There are locked items, but if one team member unlocks it, it is unlocked for the whole team.<br/>
        7. Target time to beat is 1h 30m.<br/>
        {% if data.registered %}
        <p>Your name: {{ data.name }}</p>
        <p>Your team number: {{ data.team }}</p>
        <form action="/unregister">
            <input type="submit" value="Unregister"/>
        </form>
        <br/>
        <form action="/room7">
            <input type="submit" value="Enter"/>
        </form>
        {% else %}
        <p>Please register your name and team number here.</p>
        <form action="/register">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"/><br/>
            <label for="team">Team Number:</label>
            <input type="text" id="team" name="team"/><br/>
            <input type="submit" value="Submit"/>
        </form>
        {% endif %}
    </body>
</html>
