<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Room 4</title>
        <style>
        .row {
            display: flex;
        }
        .column {
            flex: 10%;
        }
        </style>
    </head>
    <body>
        <h1 style="color:cyan">Cyan Room</h1>
        <p>You are in a cyan room. There is a lockbox in the center of the room.</p>
        <form action="/room4/lockbox">
            <label for="lockbox">Lockbox Key:</label>
            <input type="text" id="lockbox" name="key"/>
            <input type="submit" value="Submit"/>
        </form>
        {% if lockbox_failed %}
        <p style="color:red">Unfortunately, that was incorrect.</p>
        {% endif %}

        <br/>

        <p>A note is on the desk with the words: "Reminder to self: An assistant from a parallel universe is required."</p>
        {% if show_start %}
        <form action="/room4">
            <input type="hidden" id="start_btn_clicked" name="start_btn_clicked" value="true"/>
            <input type="submit" value="Start"/>
        </form>
        {% endif %}
        {% if message %}
        <p style="{{ message_color }}">{{ message }}</p>
        {% endif %}
        <br/>

        <div class="row">
            <div class="column">
                {% for number in range(1, 11) %}
                <div class="row">
                    {% for char in chars %}
                    <div class="column">
                        <form action="/room4">
                            <input type="hidden" id="coordinates" name="coordinates" value="{{ char }}{{ number }}"/>
                            <input type="submit" value="x"/>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="column">
            </div>
        </div>

        <br/>

        <a href="/room7">Return to White Room</a>
    </body>
</html>
