<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Room 7</title>
    </head>
    <body>
        <h1>White Room</h1>
        <p>You are in a white room. You see a number of doors of various colors.</p>
        <a href="/room1">Red Door</a>
        <br/>
        <a href="/room2">Green Door</a>
        <br/>
        <a href="/room3">Blue Door</a>
        <br/>
        <a href="/room4">Cyan Door</a>
        <br/>
        <a href="/room5">Magenta Door</a>
        <br/>
        <a href="/room6">Yellow Door</a>
        <br/>

        <br/>

        <a href="/">Return to Registration</a>
        <br/>

        <p style="color:white">91</p>
    </body>
</html>
