<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Room 2</title>
        <style>
        .imgrow {
            display: flex;
        }
        .imgrow > div:not(:last-child) {
            margin-right: 0.5%;
        }
        img {
            width: 50%;
        }
        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }
        </style>
    </head>
    <body>
        <h1 style="color:green">Green Room</h1>
        <p>You are in a green room. There is a lockbox with an 8 digit passcode in the center of the room with the label "<a href="https://en.wikipedia.org/wiki/CMYK_color_model">CMYK</a>".</p>
        <form action="/room2/lockbox">
            <label for="lockbox">Lockbox Key:</label>
            <input type="text" id="lockbox" name="key"/>
            <input type="submit" value="Submit"/>
        </form>
        {% if lockbox_failed %}
        <p style="color:red">Unfortunately, that was incorrect.</p>
        {% endif %}

        <div class="row">
            <div class="column">
                <p>There are two ways to represent color: Additive and Subtractive.</p>
                <p>With Additive Color, we start with the absence of color (Black), then add colors until we get the full spectrum of White. We can generate any color using the primary colors Red, Green, and Blue like so:</p>
                <p>Green + Blue = Cyan</p>
                <p>Red + Blue = Magenta</p>
                <p>Red + Green = Yellow</p>
                <p>Red + Green + Blue = White</p>
                <p>The following diagram illustrates Additive Color:</p>
                <img src="static/additive_color.png" alt="Additive Color" title="Additive Color" style="img"/>
                <p>Reminder to self: The highlighters in the other rooms will reveal the key.</p>
            </div>
            <div class="column">
                <p>Subtractive Color is the reverse of Additive color.</p>
                <p>We start with the full color of White, then subtract colors to generate any color we want. If we subtract everything, we get Black as the absence of color like so:</p>
                <p>White - Red - Green - Blue = Black</p>
                <p>The following diagram illustrates Subtractive Color:</p>
                <img src="static/subtractive_color.png" title="Subtractive Color" alt="Subtractive Color" style="img"/>
            </div>
            <div class="column">
                <div class="imgrow">
                    <div style="flex:0.82">
                        <img src="static/room1_2.jpg" alt="Rebel Scum" title="Rebel Scum" style="img"/>
                    </div>
                </div>
            </div>
            <div class="column">
            </div>
        </div>

        <a href="/room7">Return to White Room</a>
    </body>
</html>
