<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Room 1</title>
        <style>
        .row {
            display: flex;
        }
        .column {
            flex: 50%;
        }
        .imgrow {
            width: 50%;
            display: flex;
        }
        .imgrow > div:not(:last-child) {
            margin-right: 0.5%;
        }
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
        </style>
    </head>
    <body>
        <h1 style="color:red">Red Room</h1>
        <p>You are in a red room. There is a lockbox in the center of the room with a 7 digit passcode.</p>
        <form action="/room1/lockbox">
            <label for="lockbox">Lockbox Key:</label>
            <input type="text" id="lockbox" name="key"/>
            <input type="submit" value="Submit"/>
        </form>
        {% if lockbox_failed %}
        <p style="color:red">Unfortunately, that was incorrect.</p>
        {% endif %}

        <br/>
        <a style="color:black" href="https://www.reverseimagesearch.com/">Gallery of Successfully Infected Targets</a>
        <br/>
        <br/>
        <div class="imgrow">
            <div style="flex:0.8">
                <img src="static/room1_4.jpg" alt="Romantic Composer" title="Romantic Composer" style="img"/>
            </div>
            <div style="flex:1.77">
                <img src="static/room1_1.jpg" alt="Stanford University" title="Stanford University" style="img"/>
            </div>
            <div style="flex:1.59">
                <img src="static/room1_3.jpg" alt="2 Kings 5" title="2 Kings 5" style="img"/>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="column">
                <p>1: Dental Snarl Fjord</p>
                <p>2: Recover Owl Mill</p>
                <p>3: Inane Man Ashtray</p>
                <p>4: Cipher Confider</p>
                <p>5: Harm Torn Mojo</p>
                <p>6: Haze Lit Chamber</p>
                <p>7: Urine Slump</p>
            </div>
            <div class="column">
                <p>___ Scarlet Fever</p>
                <p>___ Lycanthropy</p>
                <p>___ Malaria</p>
                <p>___ Typhoid</p>
                <p>___ Greyscale</p>
                <p>___ Tuberculosis</p>
                <p>___ Leprosy</p>
            </div>
            <div class="column">
            </div>
        </div>

        <a href="/room7">Return to White Room</a>

        <p style="color:white">32</p>
    </body>
</html>
