<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Room 5</title>
    </head>
    <body>
        <h1 style="color:magenta">Magenta Room</h1>
        <p>You are in a magenta room. There is a lockbox in the center of the room with a 5-digit passcode.</p>
        <form action="/room5/lockbox">
            <label for="lockbox">Lockbox Key:</label>
            <input type="text" id="lockbox" name="key"/>
            <input type="submit" value="Submit"/>
        </form>
        {% if lockbox_failed %}
        <p style="color:red">Unfortunately, that was incorrect.</p>
        {% endif %}

        <p>BIG = 396</p>

        <img src="static/wordaddition.png" style="img"/>

        <br />

        <a href="/room7">Return to White Room</a>
    </body>
</html>
