<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Room 1</title>
        <style>
        img {
            width: 50%;
        }
        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }
        </style>
    </head>
    <body>
        <h1 style="color:red">Red Room</h1>
        <p>You are in a red room. There is a lockbox in the center of the room.</p>
        <form action="/room1/lockbox">
            <label for="lockbox">Lockbox Key:</label>
            <input type="text" id="lockbox" name="key"/>
            <input type="submit" value="Submit"/>
        </form>
        {% if lockbox_failed %}
        <p style="color:red">Unfortunately, that was incorrect.</p>
        {% endif %}

        <br/>

        <div class="row">
            <div class="column">
                <p>There are two ways to represent color: Additive and Subtractive.</p>
                <p>With Additive Color, we start with the absence of color (Black), then add colors until we get the full spectrum of White. We can generate any color using the primary colors Red, Green, and Blue.</p>
                <p>The following diagram illustrates Additive Color:</p>
                <img src="static/additive_color.png" alt="Cyan G" title="Cyan G" style="img"/>
            </div>
            <div class="column">
                <p>Black = 0</p>
                <p>Red = 1</p>
                <p>Green = 2</p>
                <p>Blue = 3</p>
                <p>Cyan = 4</p>
                <p>Magenta = 5</p>
                <p>Yellow = 6</p>
                <p>White = 7</p>
            </div>
            <div class="column">
                <p>There is a note illustrating a DNA and an RNA strand:</p>
                <p>DNA:</p>
                <p>ACTGTAC</p>
                <p>TTGAGGC</p>
                <p>RNA:</p>
                <p>ACGUGUC</p>
                <p>There is a second note with the following written: "That diagram has extra information."</p>
            </div>
        </div>

        <a href="/room7">Return to White Room</a>

        <p style="color:white">32</p>
    </body>
</html>
